@font-face {
  font-family: "Minecrafter";
  src: url(/fonts/Minecrafter.Reg.ttf);
}

@font-face {
  font-family: "Minecrafter Alternative";
  src: url(/fonts/Minecrafter.Alt.ttf);
}

.capitalize {
  text-transform: capitalize;
}

.border-edge {
  position: relative;

  &:before, &:after, & > :first-child:before, & > :first-child:after {
    position: absolute;
    content: ' ';
    width: 10px;
    height: 10px;
    border-color: inherit; /* or whatever colour */
    border-style: solid; /* or whatever style */
  }

  &:before {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px
  }

  &:after {
    bottom: 0;
    right: 0;
    border-width: 2px 2px 0 0;
    transform: rotate(90deg);
  }
}

.border-edge-top {
  position: relative;

  &:before, &:after, & > :first-child:before, & > :first-child:after {
    position: absolute;
    content: ' ';
    width: 10px;
    height: 10px;
    border-color: inherit; /* or whatever colour */
    border-style: solid; /* or whatever style */
  }

  &:before {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px
  }

  &:after {
    top: 0;
    right: 0;
    border-width: 2px 2px 0 0;
    //transform: rotate(90deg);
  }
}

.player-collapse {
  //height: 108px;
  //
  //&[aria-expanded='true'] {
  //  height: 100%;
  //}
}

#global-nav[aria-expanded="true"] {
  @apply top-20
}

//.swiper-container {
//  width: 100%;
//  height: 100%;
//}

//.swiper-slide {
//  text-align: center;
//  font-size: 18px;
//  //background: #fff;
//
//  /* Center slide text vertically */
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: -webkit-flex;
//  display: flex;
//  -webkit-box-pack: center;
//  -ms-flex-pack: center;
//  -webkit-justify-content: center;
//  justify-content: center;
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  -webkit-align-items: center;
//  align-items: center;
//}
