@font-face {
  font-family: "Minecrafter";
  src: url(/fonts/Minecrafter.Reg.ttf);
}

@font-face {
  font-family: "Minecrafter Alternative";
  src: url(/fonts/Minecrafter.Alt.ttf);
}

.capitalize {
  text-transform: capitalize;
}

.border-edge {
  position: relative;

  &:before, &:after, & > :first-child:before, & > :first-child:after {
    position: absolute;
    content: ' ';
    width: 10px;
    height: 10px;
    border-color: #FBBF24; /* or whatever colour */
    border-style: solid; /* or whatever style */
  }

  &:before {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px
  }

  &:after {
    bottom: 0;
    right: 0;
    border-width: 2px 2px 0 0;
    transform: rotate(90deg);
  }
}

.player-collapse {
  height: 108px;

  &[aria-expanded='true'] {
    height: 100%;
  }
}

#nav-mobile:checked + .nav-collapsable {
  top: 4rem;
}